host: 'https://example.com/api'
api_key: 'xxxxxxxxxxxxxxxxxxxxxxxxx'
local:
  sip_dir: '/path/to/sips'
  aip_dir: '/path/to/aips'
  dip_dir: '/path/to/dips'
  solr_dir: '/path/to/solr'
source:
  username: 'example'
  host: 'example.com'
staging:
  username: 'example'
  dips_host: 'example.com'
  dip_dir: '/path/to/dips'
  oh_host: 'example.com'
  oh_dir: '/path/to/oh'
  blacklight_dir: '/path/to/blacklight'
  solr_dir: '/path/to/solr'
  solr_host: 'example.com'
production:
  username: 'example'
  dips_host: 'example.com'
  dip_dir: '/path/to/dips'
  oh_host: 'example.com'
  oh_dir: '/path/to/oh'
  blacklight_dir: '/path/to/blacklight'
  solr_dir: '/path/to/solr'
  solr_host: 'example.com'
  solr_checksum: '/path/to/solr_checksum'
secondary:
  username: 'example'
  blacklight_dir: '/path/to/blacklight'
  solr_dir: '/path/to/solr'
  solr_host: 'example.com'
  solr_checksum: '/path/to/solr_checksum'
